.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
}

.card {
    width: 500px;
    background: var(--surface);
    padding: 40px 30px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h1 {
    text-align: center;
    color: var(--text-primary);
}

.card input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    font-size: 1rem;
    transition: var(--transition);
    font-family: "Science Gothic", sans-serif;
}

.card input:focus {
    border-color: var(--primary);
}

.optionRow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.optionRow p{
    /* background-color: aqua;   */
    border-radius: 50%; 
    padding: 5px 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    background-color: var(--text-secondary);
    color:var(--surface);
}

.optionRow input {
    flex: 1;
}

.optionRow button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: var(--radius-md);
    background: var(--danger);
    color: white;
    font-weight:900;
    cursor: pointer;
}

.addBtn {
    padding: 12px;
    border: none;
    border-radius: var(--radius-md);
    background: var(--text-secondary);
    color: white;
    cursor: pointer;
    transition: var(--transition);
    font-family: "Science Gothic", sans-serif;
    font-size: 1rem;
}

.addBtn:hover {
    opacity: 0.9;
}

.submitBtn {
    padding: 14px;
    border: none;
    border-radius: var(--radius-md);
    background: var(--primary);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    font-family: "Science Gothic", sans-serif;
}

.submitBtn:hover {
    background: var(--primary-hover);
}

.errorMessage {
    background-color: rgba(255, 0, 0, 0.178);
    border: 2px solid var(--danger);
    color:var(--danger);
    border-radius: var(--radius-sm);
    padding: 2px 5px;
    font-size: 14px;
}
